@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-grey);
}

.error-box {
    color:     Crimson;
    font-size: 14px;
}

.dev {
    background-color: black;
    bottom:           50px;
    color:            white;
    left:             0;
    padding:          6px;
    position:         fixed;
    z-index:          9999;
}

.dev.top {
    bottom: auto;
    top:    0;
}

@layer utilities {
    .grid-center {
        display:     grid;
        place-items: center;
    }

    .flex-center {
        display:         flex;
        align-items:     center;
        justify-content: center;
    }

    .absolute-center {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translate(-50%, -50%);
    }
}

