.form {
    display:        flex;
    flex-direction: column;
}

.form--compact {

}

.form__heading {
    font-weight: bold;
}

.form__content {

}

.form__content--compact {
    align-items:     center;
    display:         flex;
    gap:             20px;
    justify-content: space-between;
}

.form__input {

}

.form__input--compact {
    flex: 1 1 0;
}

.form__button {
    margin-left: auto;
    width:       100px;
}

.form__button--compact {
    height: fit-content;
}
